<hr>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
      <div class="form">

<h3>New Part Type</h1>


<%= render 'form' %>

	<%= link_to 'Back', welcome_index_path, {:id => "back"}%>
      </div>
    </div>
  </div>
</div>