/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	background-color: #d1ffc8;
}

body {
	background-color: #d1ffc8;
}

a:hover {
	color: white;
	background-color: transparent;
}

a:visited {
	color: black;
}


/* ---------Tabs!---------*/
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #00BEB1;
    background-color: #89FFF6;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #7BDED7;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #00BEB1;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #00BEB1;
    border-top: none;
	width: 96%;
	position: relative;
	left: 2%
}

.home {
	position: relative;
	float: right;
	padding-bottom: 10px;
}

.select h1 {
	color: black;
}

.select h3 {
	margin-top: 10px;
}

.dropdown .tabcontent {
	background-color: #33C4FF;
}

a#dropdownlink {
	color: white;
}

.buttons {
	width: 96%;
	position: relative;
	left: 2%
}

/* ---------Button links---------*/

#back {
	position: relative;
	right: -90%;
	color: white;
	font-size: 25px;
}

#show {
	position: absolute;
	right: 90%;
	color: white;
	font-size: 25px;
}

#edit {
	position: absolute;
	right: 90%;
	color: white;
	font-size: 25px;
}

#new-category {
	position: relative;
	right: -80%;
	color: white;
	font-size: 25px;
}

#back:hover {
	color: #0c5f2f;
}

/* ---------Forms and Information Displays!---------*/

.form h3 {
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

.form h2 {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.form h1 {
	color: white;
	text-align: center;
}

.form {
	border: 3px solid white;
	background-color: #33C4FF;
}

.form hr {
	border-top: 1px solid black;
}

input[name=submit] {
	margin: 3px;
	right: -85%;
	bottom: 10px;
    position: relative;
}

.field {
	margin-left: 20px;
	color: white;
	position: relative;
	left: 40%;
	max-width: 500px;
}

.actions {
	margin-left: 20px;
	position: relative;
	left: 40%;
	max-width: 500px;
}

input#entry_name, input#entry_quantity {
	color: black;
}

.response {
	color: white;
}

input{
	color: black;
}

/* ---------View!---------*/

input[name=search] {
	margin: 3px;
    position: relative;
}

.view#search {
	position: relative;
	float: right;
	right: 5%
}

 table, td, th {
    border: 2px solid white;
    color: black;
}

th {
	font-size: 20px;
}

td {
	font-size: 15px;
	max-width: 500px;
}

td, th {
	padding: 10px;
}

table {
	position: relative;
	text-align: center;
	margin-left: 12%;
}

.response strong {
	font-size: 15px;
}

.entry_show p {
	color: black;
}

.response table {
	position: relative;
	text-align: center;
	margin-left: 10%;
}

#view {
	color: #001a39;
}

#view:hover {
	color: #0c5f2f;
}

/* ---------Footer/Close!---------*/

hr {
	border-top: 1px solid #00BEB1;
}

.footer {
	background-color: #555555;
	color: white;
}

#contact {
	margin-top: 50px;
}

#contact li {
	display: block;
}

/* ---------Success!---------*/

.success {
	text-align: center;
}

.success a {
	color: #00bbc7;
}

.success a:hover {
	color: #007d85;
}